button,
#title,
#animation {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #878787;
  font-family: "Rubik", "sans-serif";
  font-weight: 600;
  font-size: 16px;
}
h1 {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 0.7em;
  letter-spacing: 0px;
  padding-top: 14px;
  margin-bottom: 2%;
}
h1 span {
  font-size: 0.8em;
  letter-spacing: 0;
  font-weight: 700;
}
h2 {
  font-size: 1.9em;
  margin-top: 0.4em;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}
#mainWrapper {
  text-align: center;
}
#mainWrapper #title {
  height: 10%;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  text-align: left;
  font-size: 1.2em;
  box-sizing: border-box;
}

#mainWrapper #title .info {
  float: left;
  width: 80%;
}

#mainWrapper #title .logo {
  float: right;
  width: 20%;
  text-align: right;
  padding: 2% 3% 0 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}
#mainWrapper #title .logo img {
  width: 43%;
}
#mainWrapper #content {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
#mainWrapper #content #overlayTips {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  z-index: 10000;
  width: 100%;
  height: 100%;
  color: #fff;
  display: none;
  padding: 2em 0;
  padding-top: 20%;
  font-size:1.3em;
}
#mainWrapper #content #overlayTips.active {
  display: block;
}
#mainWrapper #content #overlayTips ul {
  list-style: none;
  padding: 0 7%;
  margin: 0;
  margin-bottom: 3.5em;
}
#mainWrapper #content #overlayTips ul li {
  font-size: 1.3em;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 1em;
}
#mainWrapper #content #overlayTips button {
  background-color: #ff00ab;
  display: block;
  width: 100%;
  font-size: 1.4em;
}
#mainWrapper #content #overlay {
  position: absolute;
  font-size:1.1em;
  background-color: rgba(0,0,0,0.8);
  z-index: 10000;
  height: 100%;
  width: 100%;
  color: #fff;
  display: none;
}

#mainWrapper #content #overlay #btnComenzar{
  width:100%;
}
#mainWrapper #content #overlay.active {
  display: block;
}
#mainWrapper #content #overlay p {
  margin-bottom: 1em;
  font-size: 1.4em;
}
#mainWrapper #content #overlay > div {
  position: relative;
  top: 39%;
  transform: translateY(-50%);
  display: none;
}
#mainWrapper #content #overlay > div.active {
  display: block;
}
#mainWrapper #content #overlay > div.enviar p {
  font-size: 1.6em;
}
#mainWrapper #content #overlay > div.enviar label {
  font-size: 1.5em;
}
#mainWrapper #content #overlay > div.enviar label,
#mainWrapper #content #overlay > div.enviar input,
#mainWrapper #content #overlay > div.enviar button {
  display: block;
  text-align: left;
}
#mainWrapper #content #overlay > div.enviar input {
  width: 100%;
  margin-bottom: 1em;
  font-size:1.5em;
}
#mainWrapper #content #overlay > div.enviar button {
  float: right;
}
#mainWrapper #content #overlay > div.enviado > div {
  display: none;
  font-size: 1.4em;
}
#mainWrapper #content #overlay > div.enviado > div.active {
  display: block;
}
#mainWrapper #content #overlay #btnCancelarEnviar {
  margin-right: 10px;
  background-color:#ff3030;
}
#mainWrapper #content #overlay button {
  background-color: #00c6ff;
  text-transform: uppercase;
  font-size: 1.6em;
  margin-top: 1em;
  color: #000;
}

#mainWrapper #btnInfo {
  display:none;
}

#mainWrapper #btnHideInfo {
  display:none;
}

#mainWrapper #btnExitInfo{
  display:none;
}

#mainWrapper #coloso {
  height: 65%;
  position: relative;
  overflow: hidden;
  background: url("../image/estrellas.svg");
  background-size: cover;
}
#mainWrapper #coloso object {
  height: 100%;
  transition: transform 0.7s;
}
#mainWrapper #coloso object.zoomCabeza {
  transform: scale(2.8, 2.8) translate(0, 28%);
}
#mainWrapper #coloso object.zoomCorazon {
  transform: scale(2.8, 2.8) translate(0, 2.5%);
}
#mainWrapper #coloso object .visible {
  visibility: visible !important;
}
#mainWrapper #coloso object .visible circle {
  visibility: visible !important;
}
#mainWrapper #coloso #mainSvg {
}
#mainWrapper #coloso #btnCerrar {
  position: absolute;
  top: 13px;
  right: 6px;
  cursor: pointer;
  opacity: 0;
  width: 20%;
  z-index: 20;
}
#mainWrapper #coloso #btnCerrar.visible {
  opacity: 1;
}
#mainWrapper #coloso #colores {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 17%;
  visibility: hidden;
  background-color:black;
  padding-right:25%;
}
#mainWrapper #coloso #colores.seleccionDientes {
  left: -30.8% !important;
}
#mainWrapper #coloso #colores li {
  float: left;
  height: 100%;
  width: 20%;
  cursor: pointer;
}
#mainWrapper #coloso #colores li:last-child {
  margin-right: 0;
}
#mainWrapper #coloso #colores li.no {
  background: #d9d9d9 !important;
}
#mainWrapper #coloso #colores li.no img {
  width: 110%;
}
#mainWrapper #coloso #colores li.blanco {
  background-color: #fff !important;
}
#mainWrapper #coloso #colores li.invisible {
  visibility: hidden;
}
#mainWrapper #coloso #colores.visible {
  visibility: visible;
}
#mainWrapper #coloso #presets {
  background-color: #363636;
  height: 27%;
  position: absolute;
  bottom: 17%;
  left: 0;
  width: 100%;
  padding: 3% 0 4%;
  visibility: hidden;
}
#mainWrapper #coloso #presets .ojos {
  padding-top: 2%;
}
#mainWrapper #coloso #presets > div {
  width: 80%;
  margin: 0px auto;
  text-align: center;
  display: none;
}
#mainWrapper #coloso #presets > div.visible {
  display: block;
}
#mainWrapper #coloso #presets img {
  display: inline;
  cursor: pointer;
  opacity: 0.3;
}
#mainWrapper #coloso #presets img:first-child,
#mainWrapper #coloso #presets img.nomargin {
  margin-left: 0;
}
#mainWrapper #coloso #presets img.selected {
  opacity: 1 !important;
}
#mainWrapper #coloso #presets .ojos img {
  margin-left: 6%;
  width: 17%;
}

#mainWrapper #coloso #presets .boca{
  position:relative;
  bottom:4%;
}

#mainWrapper #coloso #presets .boca img {
  margin-bottom: 3%;
  width: 36%;
}
#mainWrapper #coloso #presets .boca img:nth-child(odd) {
  margin-right: 8%;
}
#mainWrapper #coloso #presets .corazon img {
  margin-top: 6%;
  width: 32%;
}
#mainWrapper #coloso #presets.visible {
  visibility: visible;
}
#mainWrapper #areas {
  height: 5%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6em;
  border-top: 2px solid #525252;
  padding-top: 1.5%;
  box-sizing: border-box;
}
#mainWrapper #areas span.flecha {
  position: relative;
  top: -2px;
  display: inline-block;
}
#mainWrapper #animation {
  height: 20%;
  background-color: #fff;
}
#mainWrapper #animation .framesWrapper {
  height: 25%;
  list-style: none;
  margin: 0;
  padding: 0.5em 0 0 0;
  text-align: left;
  display: flex;
  justify-content: space-around;
}
#mainWrapper #animation .framesWrapper li {
  height: 100%;
  cursor: pointer;
}
#mainWrapper #animation .framesWrapper li.frame {
  opacity: 0.4;
}
#mainWrapper #animation .framesWrapper li.flecha {
  width: 6%;
}
#mainWrapper #animation .framesWrapper li.flecha img {
  width: 100%;
  height: 100%;
}
#mainWrapper #animation .framesWrapper li.frame {
  width: 16%;
  height: 100%;
  background-color: #878787;
  opacity: 0.4;
}
#mainWrapper #animation .framesWrapper li.frame .circulo {
  border: 1px solid #000;
  width: 30%;
  height: 40%;
  border-radius: 20px;
  position: relative;
  left: 36%;
  top: 29%;
}
#mainWrapper #animation .framesWrapper li.frame.selected {
  background-color: #3a3a3a;
}
#mainWrapper #animation .framesWrapper li.frame.selected .circulo {
  background-color: #ff00ab;
  border: 1px solid #ff00ab;
}
#mainWrapper #animation .framesWrapper li.frame.setted {
  opacity: 1;
}
#mainWrapper #animation #buttons {
  margin: 0.25em;
  display: flex;
  justify-content: space-around;
}
#mainWrapper #animation #buttons #btnPlay {
  width: 23%;
  background-color: #ff00ab;
  position: relative;
  text-align: left;
  line-height:1.5;
}
#mainWrapper #animation #buttons #btnPlay img {
  width: 13%;
  position: absolute;
  top: 20px;
  right: 12%;
}
#mainWrapper #animation #buttons #btnPlay span {
  position: relative;
  left:10%;
}
#mainWrapper #animation #buttons #btnBorrar {
  background-color: #b3b3b3;
}
#mainWrapper #animation #buttons #btnCopy {
  background-color: #000;
}
#mainWrapper #animation #buttons #btnPaste {
  background-color: #000;
}
#mainWrapper #animation #velocityAndSend {
  overflow: hidden;
  margin-top: 1em;
  height: 30%;
}
#mainWrapper #animation #velocityAndSend #velocity {
  width: 55%;
  float: left;
  height: 100%;
  text-align: left;
}
#mainWrapper #animation #velocityAndSend #velocity span {
  color: #00c6ff;
  font-weight: 700;
  font-size: 1.5em;
}
#mainWrapper #animation #velocityAndSend #enviar {
  width: 45%;
  float: right;
  text-align: right;
}
#mainWrapper #animation #velocityAndSend #enviar button {
  background: #00c6ff;
  color: #000;
}
button {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6em;
  padding: 0.4em 0.8em 0.2em 0.8em;
  font-weight: 900;
}
button:focus,
button::-moz-focus-inner {
  outline: none;
  border: 0;
}
input[type=range].normal {
  -webkit-appearance: none;
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
}
input[type=range].normal:focus {
  outline: none;
}
input[type=range].normal::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #00c6ff;
}
input[type=range].normal::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  width: 21%;
  background: #000;
  cursor: pointer;
  border-radius: 0;
  border: none;
}
input[type=range].normal::-moz-range-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #00c6ff;
}
input[type=range].normal::-moz-range-thumb {
  height: 100%;
  width: 21%;
  background: #000;
  cursor: pointer;
  border-radius: 0;
  border: none;
}
input[type=range].ios {
  -webkit-appearance: none;
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
}
input[type=range].ios:focus {
  outline: none;
}
input[type=range].ios::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: #00c6ff;
}
input[type=range].ios::-webkit-slider-thumb {
  min-width: 30px;
  min-height: 30px;
  background: #000;
}

@media (min-width:980px){
}
@media (max-width: 980px){

  body {
    overflow-y:hidden;
  }
  
  #mainWrapper #coloso {
    height:58%;
  }

  #mainWrapper #animation{
    height:25%;
  }
  
  #mainWrapper #title {
    width:100%;
    height:0%;
    position:absolute;
    overflow: hidden;
    z-index:10000;
    font-size: 1.2em;
    box-sizing: border-box;
    background-color: rgba(255, 250, 250,0.9);
    color: #000;
    text-align: left;
    transition-property:all;
    transition-duration:0.5s;
	  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #mainWrapper #title.active {
    display:block;
    height:28%;
  }

  #mainWrapper #title .info {
    margin:0.5em 0 0 0.5em;
    width:100%;
    font-family:Rubik-Bold;
  }

  #mainWrapper #title .logo {
    margin:0.5em 0 0 0.5em;
    float:left;
    width:35%;
    display:flex;
    flex-direction:row;
  }

  #mainWrapper #title .logo img {
    float:left;
    width:47%;
    flex-shrink:0;
  }

  #mainWrapper #title .logo span {
    font-size:2.1em;
    margin:17% 0 0 5%;
    font-family:Rubik-Bold;

  }


  #mainWrapper #btnInfo {
    display:none;
    position:absolute;
    margin: 0.8em 0 0 0.8em;
    width:10%;
  }

  #mainWrapper #btnInfo.active{
    display:block;
  }

  #mainWrapper #btnHideInfo{
    display:inline;
    width:110%;
    margin-top:4%;
    margin-left:-5.25%
  }

}
/*# sourceMappingURL=coloso.css.map */
